.goal-container {
  text-align: center; /* Centre le texte horizontalement */
  padding: 40px; /* Ajoute un espacement autour du conteneur */
}

.goal-container h1 {
  font-size: 30px; /* Taille de la police pour le titre */
  font-weight: bold; /* Texte en gras */
  margin-bottom: 2px; /* Petit espace sous le titre */
}

.goal-container p {
  font-size: 16px; /* Taille de la police pour le paragraphe */
  color: #7a7a7a; /* Couleur grise pour le texte */
  margin-bottom: 3%; /* Marge inférieure relative à la hauteur du parent */
}

.goal-options {
  display: flex; /* Utilise le modèle de boîte flexible */
  justify-content: center; /* Centre les éléments horizontalement */
  gap: 50px; /* Ajoute un espace de 50px entre chaque élément */
}

.goal-card {
  background: linear-gradient(to bottom, #4791d6, #abd0f1); /* Dégradé de haut en bas */
  border-radius: 20px; /* Coins arrondis */
  padding: 20px; /* Espacement interne autour du contenu */
  flex-grow: 1; /* Permet à la carte de croître si nécessaire */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre subtile pour la carte */
  transition: transform 0.3s, box-shadow 0.3s; /* Animation pour les changements de transformation et d'ombre */
  cursor: pointer; /* Change le curseur en pointeur au survol */
  text-align: center; /* Centre le texte dans la carte */
}

.goal-card:hover {
  transform: translateY(-10px); /* Déplace la carte vers le haut au survol */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Augmente l'ombre au survol pour un effet de profondeur */
}

.goal-card img {
  width: 30%; /* Largeur de l'image à 30% de la largeur du parent */
  border-radius: 15px; /* Coins légèrement arrondis de l'image */
}

.goal-card h3 {
  font-size: 24px; /* Taille de la police pour le sous-titre */
  margin-top: 15px; /* Espace supérieur avant le sous-titre */
  margin-bottom: 2px; /* Espace inférieur sous le sous-titre */
  font-weight: bold; /* Texte en gras */
  color: #ffffff; /* Couleur blanche pour le texte */
}

.goal-card p {
  font-size: 14px; /* Taille de la police pour le texte dans la carte */
  color: #ffffff; /* Couleur blanche pour le texte */
}

.circle-btn {
  position: absolute; /* Positionnement absolu pour placer le bouton n'importe où */
  top: 60px; /* Distance par rapport au haut de la page */
  right: 40px; /* Distance par rapport au côté droit */
  width: 50px; /* Largeur du bouton */
  height: 50px; /* Hauteur du bouton */
  border-radius: 50%; /* Transforme le bouton en cercle */
  background-color: rgba(47, 30, 101, 0.57); /* Couleur de fond avec opacité */
  box-shadow: 0 2px 4px rgb(162, 162, 162); /* Ombre légère pour le bouton */
  color: #ffffff; /* Couleur du texte (flèche) */
  border: none; /* Pas de bordure autour du bouton */
  display: flex; /* Utilise Flexbox pour centrer le contenu */
  align-items: center; /* Centre le contenu verticalement */
  justify-content: center; /* Centre le contenu horizontalement */
  font-size: 24px; /* Taille de la police (pour la flèche) */
  cursor: pointer; /* Curseur en forme de main au survol */
  transition: background-color 0.3s; /* Transition douce pour le changement de couleur de fond */
}

.circle-btn:hover {
  background-color: rgb(26, 17, 56); /* Couleur de fond plus foncée au survol */
}